[submodule "external/sokol"]
	path = external/sokol
	url = https://github.com/floooh/sokol
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
[submodule "external/emsdk"]
	path = external/emsdk
	url = https://github.com/emscripten-core/emsdk.git
